* {
  box-sizing: border-box;
}



.container {
  font-family: 'Gudea', sans-serif;
}

.container h2 {
  font-size: 32px;
  color:  black;
}

/* nav {
  float: right;
  padding: 30px 65px 10px 0px;
  background-color: black;
  z-index: 1000;
}

nav li {
 list-style-type: none;
 display: inline-block;
 font-size: 1.3em;
 zoom: 1;
}


nav li a:after {
       content: '';
       display: block;
       height: 2px;
       width: 0;
       background: transparent;
       transition: width .5s ease, background-color .5s ease;
   }

nav li a:hover:after {
       width: 100%;
       background: #236fe8;
   }

nav a {
  color: black;
  text-decoration: none;
  margin: 20px 30px;
  padding-bottom: 10px;
} */






.header-wrapper {
  height: 100%;
  /*width: 90%;
  margin: auto;*/
  /*background-image: url(../img/header-bg2.jpg);*/
  background-size: cover;
  font-family: 'Gudea', sans-serif;
  display: flex;
  width: 80%;
  margin: auto;
}



.header-title {
  display: inline-block;
  color: black;
  text-shadow: 1px 1px 2px #000000;
  font-size: 2.0em;
  z-index: 10;
  line-height: 1.5em;
  border-radius: 5px;
  letter-spacing: .1em;
  width: 50%;
  float: right;
  margin-top: 250px;
  padding-left: 50px;
  text-align: center;
}

.header-title span {
  font-size: .7em;
}



/* .header-img {
  position: absolute;
  right: 10%;
  top: 20%;
  box-shadow: 3px 2px black;
  background-color: black;
} */

.header-wrapper img {
  width: 50%;
  /* width: 100%;
  height: 100%; */
}


.categories-wrapper {
  position: relative;
  margin: 15px;
}

.categories-container {
  text-align: center;
  /* width: 80%;
  margin: auto; */
  margin: 50px 0px;
}



.categories-title {
  width: 10%;
  display: inline-block;
  letter-spacing: .15em;
  color: black;
  font-family: 'Gudea', sans-serif;
  transform: rotate(270deg);
  position: absolute;
  top: 180px;
  left: 70px;
  font-size: 40px;
}

.categories-container ul{
  margin: auto;
  width: 80%;
  text-align: center;
  display: inline-block;
}

.categories-container li {
  display: inline;
  position: relative;
  width: 125px;
  height: 300px;
}

.categories-container a {
  text-decoration: none;
  color: black;
  font-family: 'Gudea', sans-serif;
  letter-spacing: .2em;
}

.categories-container li span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125px;
  height: 25px;
  font-size: 1em;
  background-color:  #f5f5f0;
  border-bottom: 1px solid orange;
  color: black;
  text-align: center;
  padding-top:4px;
}


.categories-container img {
  display: inline;
  width: 125px;
  height: 200px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 20px;
  margin-right: 15px;
  border: 1px solid orange;
}

.categories-container img:hover {
  -webkit-filter: hue-rotate(150deg);
  opacity: .8;

}

.intersection-block {
  /* background-image: url("../img/abstract2.jpg"); */
  height: 150px;
  width: 100vw;
  position: static;
  background-color:  #f5f5ef;

}

.art-title {

}


.featured-wrapper {
  position: relative;
}

.featured-container {
  width: 90%;
  margin: auto;
  margin-top: 140px;
  height: 1850px;
  background:   #f5f5f0;
}

.featured-title {
  padding: 20px 35px;
  display: inline-block;
  text-align: center;
  letter-spacing: .15em;
  z-index: 1000;
  color: black;
  font-family: 'Gudea', sans-serif;
  font-size: 70px;
  width: 50%;
  background-color: white;
}

.featured-artwork-container {
    height: 420px;
    width: 100%;
    display: flex;
}


.artwork-title {
  display: inline-block;
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: white;
}

.artwork-title span{
  line-height: 50px;
}

.artwork-title a {
  font-size: 14px;
  text-decoration: none;
  padding:10px 40px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  transition: opacity .5s ease-in;
}

.artwork-title a:hover {
  opacity: .7;
}



.artwork-image {
  width: 50%;
  display: inline;
}


.featured-container img {
  height: 400px;
  width: 100%;
  display: inline;
  /* height: 270px; */
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 20px;
}

.featured-container img:hover {
  transform: scale(1.05);
}


.about-container, .contact-container {
  width: 80%;
  margin: auto;
  position: relative;
  padding: 50px 0;
  clear: both;
}

.about-container h2, .contact-container h2 {
  padding: 40px 0;
  text-align: center;
  font-size: 2em;
}

.contact-container h2 {
  background: #f5f5f0;
}
.about-container p, .contact-container p {
  margin-bottom: 50px;
  color: black;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 40px 50px;
  text-align: center;
}


.about {
  width: 70%;
  color: black;
  margin: auto;
  text-align: center;
}

.intersection-video {
  height: 400px;
  width: 100vw;
  position: static;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-image: url("../img/gif/fluid-green-gif.gif");
}



.contact-container p{
  margin: auto;
  width: 80%;
}

form {
  margin: auto;
  width: 380px;
  position: relative;
  margin-bottom: 150px;
}

label {
  color: black;
  font-size: 1.2em;
  display: inline-block;
  height: 30px;
  margin-bottom: 15px;
}

input {
  display: inline-block;
  width: 300px;
  height: 30px;
  float: right;
  margin-bottom: 15px;
  font-size: 14px;
}

.form-message {
  display: inline-block;
  width: 300px;
  height: 200px;
  float: right;
  font-size: 14px;
}

input.submit {
  width: 100px;
  margin-top: 30px;
}


footer {
  height: 150px;
  color: black;
  margin-top: 200px;
  background:  #f5f5f0;
  border-top: 20px solid  #ebebe0;
}

.footer-container {
  width: 80%;
  margin: auto;
}

footer .menu {
  width: 50%;
  display: inline-block;
  margin-top: 30px;
}


footer .social {
  float: right;
  display: inline;
  width: 50%;
  text-align: end;
  margin-top: 50px;
}
