* {
  box-sizing: border-box;
}


.container {
  font-family: 'Gudea', sans-serif;
}

.container h2 {
  font-size: 32px;
  color:  black;
}


.header-wrapper {
  height: 100%;
  background-size: cover;
  font-family: 'Gudea', sans-serif;
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}


.header-title {
  display: inline-block;
  color: black;
  text-shadow: 2px 2px 4px rgb(225, 193, 114);
  font-size: 2.0em;
  z-index: 10;
  line-height: 1.5em;
  border-radius: 5px;
  letter-spacing: .1em;
  width: 50%;
  float: right;
  margin-top: 250px;
  padding-left: 50px;
  text-align: center;
}

.header-title span {
  font-size: .7em;
}


.header-wrapper img {
  width: 50%;
}

.small-line {
  width: 85%;
  display: inline-block;
  height: 10px;
  background: #F1C747;
  opacity: .6;
}

.medium-line {
  width: 75%;
  display: inline-block;
  height: 25px;
  background: #F1C747;
  margin: 10px 0px;
  opacity: .6;
}

.small-line.right, .medium-line.right {
  float: right;
}



.categories-wrapper {
  position: relative;
  margin: 15px;
}

.categories-container {
  text-align: center;
  margin: 70px 0px;
}


.categories-title {
  width: 10%;
  display: inline-block;
  letter-spacing: .15em;
  color: black;
  font-family: 'Gudea', sans-serif;
  transform: rotate(270deg);
  position: absolute;
  top: 135px;
  left: 70px;
  font-size: 40px;
}

.categories-container ul{
  margin: auto;
  width: 80%;
  text-align: center;
  display: inline-block;
}

.categories-container li {
  display: inline;
  position: relative;
  width: 125px;
  height: 300px;
}

.categories-container a {
  text-decoration: none;
  color: black;
  font-family: 'Gudea', sans-serif;
  letter-spacing: .2em;
}

.categories-container li span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125px;
  height: 25px;
  font-size: 1em;
  border-bottom: 1px solid #E3C353;
  color: black;
  text-align: center;
  padding-top:4px;
}


.categories-container img {
  display: inline;
  width: 125px;
  height: 200px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 20px;
  margin-right: 15px;
  border: 1px solid orange;
}

.categories-container img:hover {
  filter: grayscale(50);
  opacity: .8;

}

.intersection-block {
  height: 150px;
  width: 100vw;
  position: static;
  background-color:  #f5f5ef;

}

.art-title {

}

.featured-wrapper {
  position: relative;
}

.featured-container {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  height: 1750px;
}

.featured-title {
  padding: 20px 35px;
  display: inline-block;
  text-align: center;
  letter-spacing: .15em;
  z-index: 1000;
  color: black;
  font-family: 'Gudea', sans-serif;
  font-size: 70px;
  background-color: white;
  width: 50%;
  float: right;
}

.featured-artwork-container {
    height: 420px;
    width: 100%;
    display: flex;
}


.artwork-title {
  display: inline-block;
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: white;
}

.artwork-title span{
  line-height: 50px;
}

.artwork-title a {
  font-size: 14px;
  text-decoration: none;
  padding:10px 40px;
  background-color: #E3C353;
  color: white;
  border-radius: 5px;
  transition: opacity .5s ease-in;
}

.artwork-title a:hover {
  opacity: .7;
  -webkit-filter: hue-rotate(10deg);

}



.artwork-image {
  width: 50%;
  display: inline;
}


.featured-container img {
  height: 400px;
  width: 100%;
  display: inline;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 20px;
}

.featured-container img:hover {
  transform: scale(1.05);
}


.about-container, .contact-container {
  width: 80%;
  margin: auto;
  position: relative;
  padding: 30px 0;
  clear: both;
}

.about-container h2, .contact-container h2 {
  padding: 40px 0;
  text-align: center;
  font-size: 2em;
  /* border: 2px solid #E3C353; */
}

.about-container p, .contact-container p {
  margin-bottom: 50px;
  color: black;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 40px 50px;
  text-align: center;
}


.about {
  width: 70%;
  color: black;
  margin: auto;
  text-align: center;
}


.intersection-video {
  height: 400px;
  width: 100%;
  position: static;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-image: url("../img/gif/fluid-green-gif.gif");
  /* filter: grayscale(80%); */
  -webkit-filter: hue-rotate(40deg);
}



.contact-container p{
  margin: auto;
  width: 80%;
}

form {
  margin: auto;
  width: 380px;
  position: relative;
  margin-bottom: 150px;
}

label {
  color: black;
  font-size: 1.2em;
  display: inline-block;
  height: 30px;
  margin-bottom: 15px;
}

input {
  display: inline-block;
  width: 300px;
  height: 30px;
  float: right;
  margin-bottom: 15px;
  font-size: 14px;
}

.form-message {
  display: inline-block;
  width: 300px;
  height: 200px;
  float: right;
  font-size: 14px;
}

input.submit {
  width: 100px;
  margin-top: 30px;
}


footer {
  height: 150px;
  color: black;
  margin-top: 200px;
  background:  #E3C353;
  border-top: 20px solid  #ebebe0;
}

.footer-container {
  width: 80%;
  margin: auto;
}

footer .menu {
  width: 50%;
  display: inline-block;
  margin-top: 30px;
}


footer .social {
  float: right;
  display: inline;
  width: 50%;
  text-align: end;
  margin-top: 50px;
}
